<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	<title>모바일앱웹 어드민 - 신한EZ손해보험</title>
	<link rel="shortcut icon" type="image/x-icon" href="../image/com/favicon.ico">
	<link rel="stylesheet" href="../admin/css/com/content.css">
	<link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- #admin-wrap -->
<div id="admin-wrap">

	<!-- #admin-header-->
	<header id="admin-header" class="item-row">
		<div class="unit fixed">
			<span class="logo"><a href="javascript:;" title="메인 페이지"><span class="sr-only">신한EZ손해보험</span></a></span>
		</div>
		<div class="unit fixed">
			<button type="button" class="btn ico-gnb-control" id="gnbFoldControl"><span class="sr-only">접기</span></button>
		</div>
		<div class="unit fixed">
			<select name="" id="">
				<option value="">바로가기</option>
				<option value="">상품설명컨텐츠관리</option>
				<option value="">판매플랜관리</option>
			</select>
		</div>
		<div class="unit fixed">
			<ul class="list depth-u4">
				<li class="primary">현재 접속중인 서버는 Development입니다.</li>
			</ul>
		</div>
		<div class="unit filled align-right">
			<button type="button" class="btn outlined option-sm"><span>Code Reload</span></button>
			<button type="button" class="btn outlined option-sm"><span>Logout</span></button>
		</div>
	</header>
	<!--// #admin-header-->

	<!-- #admin-main -->
	<main id="admin-main">

		<!-- #admin-aside -->
		<aside id="admin-aside">
			<!-- .box -->
			<div class="box option-bg">
				<div class="space-mb-xxs">
					<!-- .checkbox* -->
					<label for="checkSideControl" class="checkbox-item option-single">
						<input type="checkbox" name="" id="checkSideControl" class="control">
						<span class="label fs-caption">메뉴 전체 열기</span>
					</label>
					<!--// .checkbox* -->
				</div>
				<div class="scrollbar">
					<!-- .link* -->
					<a href="javascript:;" class="btn-menu-link"><span>Document</span></a>
					<a href="javascript:;" class="btn-menu-link space-mb-xs"><span>Dashboard</span></a>
					<!--// .link* -->
					<!-- .accordion -->
					<div class="accordion fn-fold-wrap" data-fold-slide="true">
						<div class="accordion-head">
							<div class="inner fn-fold-link">
								<span>상품관리</span>
							</div>
							<button type="button" class="btn-fold fn-fold-btn"><span class="sr-only">열기</span></button>
						</div>
						<div class="accordion-body fn-fold-item">
							<div class="inner">
								<!-- .note* -->
								<ul class="note-list">
									<li><a class="fn-guide-link" href="javascript:;">상품설명컨텐츠관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">판매플랜관리</a></li>
								</ul>
								<!--// .note* -->
							</div>
						</div>
					</div>
					<!--// .accordion -->
					<!-- .accordion -->
					<div class="accordion fn-fold-wrap" data-fold-slide="true">
						<div class="accordion-head">
							<div class="inner fn-fold-link">
								<span>영업관리</span>
							</div>
							<button type="button" class="btn-fold fn-fold-btn"><span class="sr-only">열기</span></button>
						</div>
						<div class="accordion-body fn-fold-item">
							<div class="inner">
								<!-- .note* -->
								<ul class="note-list">
									<li><a class="fn-guide-link" href="javascript:;">공지사항관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">설계사도움관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">설계사매핑관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">배정관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">사용자관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">이벤트관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">발송이력조회</a></li>
									<li><a class="fn-guide-link" href="javascript:;">상품DataLoad</a></li>
								</ul>
								<!--// .note* -->
							</div>
						</div>
					</div>
					<!--// .accordion -->
					<!-- .accordion -->
					<div class="accordion fn-fold-wrap" data-fold-slide="true">
						<div class="accordion-head">
							<div class="inner fn-fold-link">
								<span>통계</span>
							</div>
							<button type="button" class="btn-fold fn-fold-btn"><span class="sr-only">열기</span></button>
						</div>
						<div class="accordion-body fn-fold-item">
							<div class="inner">
								<!-- .note* -->
								<ul class="note-list">
									<li><a class="fn-guide-link" href="javascript:;">일별Sales레포트</a></li>
									<li><a class="fn-guide-link" href="javascript:;">(구)교차채널운전자보험효율지표</a></li>
									<li><a class="fn-guide-link" href="javascript:;">(신)교차채널효율지표</a></li>
								</ul>
								<!--// .note* -->
							</div>
						</div>
					</div>
					<!--// .accordion -->
					<!-- .accordion -->
					<div class="accordion fn-fold-wrap" data-fold-slide="true">
						<div class="accordion-head">
							<div class="inner fn-fold-link">
								<span>시스템관리</span>
							</div>
							<button type="button" class="btn-fold fn-fold-btn"><span class="sr-only">열기</span></button>
						</div>
						<div class="accordion-body fn-fold-item">
							<div class="inner">
								<!-- .note* -->
								<ul class="note-list">
									<li><a class="fn-guide-link" href="javascript:;">공통코드</a></li>
									<li><a class="fn-guide-link" href="javascript:;">메뉴관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">메뉴권한관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">기준값관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">마스킹관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">템플릿관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">인터페이스관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">거래이력조회</a></li>
									<li><a class="fn-guide-link" href="javascript:;">조직관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">영업일관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">배치정보관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">배치이력관리</a></li>
									<li><a class="fn-guide-link" href="javascript:;">전자문서보완</a></li>
								</ul>
								<!--// .note* -->
							</div>
						</div>
					</div>
					<!--// .accordion -->
				</div>
			</div>
			<!--// .box -->
		</aside>
		<!--// #admin-aside -->

		<!-- #admin-content -->
		<article id="admin-content">

			<!-- .admin-tab -->
			<div id="admin-tab" class="admin-tab">
				<button type="button" id="tab-move-prev" class="tab-move-prev is-hide"><span class="sr-only">왼쪽탭보기</span></button>
				<div class="admin-tab-scroll" tabindex="0">
					<ul class="admin-tab-list">
						<li class="admin-tab-item">
							<span>Document</span>
						</li>
						<li class="admin-tab-item">
							<span>Dashboard</span>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름1</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item is-active">
							<span>탭이름탭이름2</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름3</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름4</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름5</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름6</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름7</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름8</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름9</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름10</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름11</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
						<li class="admin-tab-item">
							<span>탭이름탭이름12</span>
							<button type="button" class="tab-close">탭삭제</button>
						</li>
					</ul>
				</div>
				<button type="button" id="tab-move-next" class="tab-move-next is-hide"><span class="sr-only">오른쪽탭보기</span></button>
				<button type="button" class="tab-all-close"><span class="sr-only">탭전체삭제</span></button>
			</div>
			<!--// .admin-tab -->

			<!-- .section -->
			<section id="admin-section" class="section">
        
				<!-- .group -->
        <div class="group">
          <!-- .box -->
          <div class="box item-row option-center option-line">
            <!-- .form -->
            <div class="form option-search">
              <div class="form-wrap">
                <!-- .form-list -->
                <ul class="form-list">
                  <li class="form-item item-row">
                    <div class="unit label-row">
                      <div class="form-name">
                        <strong><label for="textfield1-1">제목</label></strong>
                      </div>
                      <div class="form-value">
                        <!-- .input -->
                        <div class="input w-px-392">
                          <input type="text" name="" id="textfield1-1" class="input-data" placeholder="입력해 주세요" value="" />
                        </div>
                        <!--// .input -->
                      </div>
                    </div>
                    <div class="unit label-row">
                      <!-- .btn-group* -->
                      <div class="btn-group">
                        <button type="button" class="btn primary option-cta"><span>조회</span></button>
                      </div>
                      <!--// .btn-group* -->
                    </div>
                  </li>
                </ul>
                <!--// .form-list -->
              </div>
            </div>
            <!--// .form -->
          </div>
          <!--// .box -->
        </div>
        <!--// .group -->

        <!-- .group -->
        <div class="group">
          <!-- .data -->
          <div class="data">
            <!-- .list-head -->
            <div class="list-head">
              <!-- <div class="list-total">
                <span>총 <strong>20</strong>개</span>
              </div> -->
            </div>
            <!--// .list-head -->
            <div class="data-body">
              <table class="data-list">
                <caption class="sr-only">
                  <!-- 표제목 -->
                  <strong>이벤트관리</strong>
                  <!-- 표내용순서 -->
                  <span>No., 유형, 제목, 조회횟수, 적용시작일시, 적용종료일시, 등록일시, 등록자</span>
                </caption>
                <colgroup>
                  <col style="width: 8rem" />
                  <col style="width: 6%" />
                  <col style="width: auto" />
                  <col style="width: 8%" />
                  <col style="width: 14%" />
                  <col style="width: 14%" />
                  <col style="width: 14%" />
                  <col style="width: 8%" />
                </colgroup>
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">유형</th>
                    <th scope="col">제목</th>
                    <th scope="col">조회횟수</th>
                    <th scope="col">적용시작일시</th>
                    <th scope="col">적용종료일시</th>
                    <th scope="col">등록일시</th>
                    <th scope="col">등록자</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>20</td>
                    <td>이벤트</td>
                    <td class="align-left">
                      <span>오픈이벤트 1</span>
                    </td>
                    <td></td>
                    <td>2023-01-26 00:00:00</td>
                    <td>2023-01-26 00:00:00</td>
                    <td>2023-01-26 00:00:00</td>
                    <td>5000000</td>
                  </tr>
                  <tr>
                    <td>19</td>
                    <td>이벤트</td>
                    <td class="align-left">
                      <!-- 링크 -->
                      <a href="javascript:;" class="btn texted">
                        <span>오픈이벤트 2</span>
                      </a>
                    </td>
                    <td></td>
                    <td>2023-01-26 00:00:00</td>
                    <td>2023-01-26 00:00:00</td>
                    <td>2023-01-26 00:00:00</td>
                    <td>5000000</td>
                  </tr>
                  <tr class="is-active">
                    <td>18</td>
                    <td>이벤트</td>
                    <td class="align-left">
                      <span>오픈이벤트 3</span>
                    </td>
                    <td></td>
                    <td>2023-01-26 00:00:00</td>
                    <td>2023-01-26 00:00:00</td>
                    <td>2023-01-26 00:00:00</td>
                    <td>5000000</td>
                  </tr>
                  <tr>
                    <td>17</td>
                    <td>이벤트</td>
                    <td class="align-left">
                      <span>오픈이벤트 4</span>
                    </td>
                    <td></td>
                    <td>2023-01-26 00:00:00</td>
                    <td>2023-01-26 00:00:00</td>
                    <td>2023-01-26 00:00:00</td>
                    <td>5000000</td>
                  </tr>

                </tbody>
              </table>
            </div>

            <!-- .list-foot -->
            <div class="list-foot">
              <!-- .list-paging -->
              <div class="list-paging">
                <a href="javascript:;" class="btn-list-prev"><span class="sr-only">이전 페이지</span></a>
                <span class="page-current">
                  <strong>1</strong>
                  <a href="javascript:;">2</a>
                  <a href="javascript:;">3</a>
                  <a href="javascript:;">4</a>
                  <a href="javascript:;">5</a>
                  <a href="javascript:;">6</a>
                  <a href="javascript:;">7</a>
                  <a href="javascript:;">8</a>
                  <a href="javascript:;">9</a>
                  <a href="javascript:;">10</a>
                </span>
                <a href="javascript:;" class="btn-list-next"><span class="sr-only">다음 페이지</span></a>
              </div>
              <!--// .list-paging -->
              <!-- .list-btn-->
              <!-- <div class="list-btn">
                <button type="button" class="btn primary fn-popup-open" data-popup-id="#popupExample"><span>등록</span></button>
              </div> -->
              <!--// .list-btn-->
            </div>
            <!--// .list-foot -->
          </div>
          <!--// .data -->
        </div>
        <!--// .group -->

        <!-- .group -->
				<div class="group">
					<!-- .form -->
					<div class="form option-regist">
						<!-- .list-head -->
						<div class="list-head">
							<h3 class="list-title">
								<span class="txt">메인 상단 배너 등록</span>
							</h3>
						</div>
						<!--// .list-head -->
						<div class="form-wrap">
							<!-- .form-list -->
							<ul class="form-list">
								<li class="form-item">
									<div class="unit">
										<div class="form-name">
											<strong><label for="textfield1-1">제목</label></strong>
											<!-- <strong class="must"><span class="sr-only">필수입력</span></strong> -->
										</div>
										<div class="form-value">
											<!-- .input -->
											<div class="input w-100">
												<input type="text" name="" id="textfield1-1" class="input-data" placeholder="입력해 주세요" value="L009_202212015" />
											</div>
											<!--// .input -->
										</div>
									</div>
								</li>
								<li class="form-item">
									<div class="unit">
										<div class="form-name">
											<strong>적용일시</strong>
										</div>
										<div class="form-value">
                      <!-- .item* -->
                      <div class="item-row">
                        <div class="unit item-row">
                          <div class="unit item-row w-px-410 position-rel">
                            <div class="unit w-px-210">
                              <!-- .input -->
                              <div class="input option-date">
                                <input type="text" name="" id="textfield1-2" class="input-data" placeholder="YYYY.MM.DD" />
                                <button type="button" class="btn-calendar" aria-label="기간 시작일" aria-expanded="false" aria-haspopup="dialog"><span class="sr-only">달력 선택</span></button>
                              </div>
                              <!--// .input -->
                            </div>
                            <div class="unit">
                              <!-- .select -->
                              <div class="select w-100">
                                <select name="" id="textfield1-3" class="select-data" title="기간 시작일 시간">
                                  <option value="" selected>00시</option>
                                  <option value="">01시</option>
                                  <option value="">02시</option>
                                  <option value="">03시</option>
                                  <option value="">04시</option>
                                  <option value="">05시</option>
                                </select>
                              </div>
                              <!--// .select -->
                            </div>
                            <div class="unit">
                              <!-- .select -->
                              <div class="select w-100">
                                <select name="" id="textfield1-4" class="select-data" title="기간 시작일 분">
                                  <option value="" selected>00분</option>
                                  <option value="">30분</option>
                                </select>
                              </div>
                              <!--// .select -->
                            </div>
                          </div>
                          <div class="unit">
                            <span class="fix-data">~</span>
                          </div>
                          <div class="unit item-row w-px-410 position-rel">
                            <div class="unit w-px-210">
                              <!-- .input -->
                              <div class="input option-date">
                                <input type="text" name="" id="textfield1-5" class="input-data" placeholder="YYYY.MM.DD" />
                                <button type="button" class="btn-calendar" aria-label="기간 종료일" aria-expanded="false" aria-haspopup="dialog"><span class="sr-only">달력 선택</span></button>
                              </div>
                              <!--// .input -->
                            </div>
                            <div class="unit">
                              <!-- .select -->
                              <div class="select">
                                <select name="" id="textfield1-6" class="select-data" title="기간 종료일 시간">
                                  <option value="" selected>00시</option>
                                  <option value="">01시</option>
                                  <option value="">02시</option>
                                  <option value="">03시</option>
                                  <option value="">04시</option>
                                  <option value="">05시</option>
                                </select>
                              </div>
                              <!--// .select -->
                            </div>
                            <div class="unit">
                              <!-- .select -->
                              <div class="select">
                                <select name="" id="textfield1-7" class="select-data" title="기간 종료일 분">
                                  <option value="" selected>00분</option>
                                  <option value="">30분</option>
                                </select>
                              </div>
                              <!--// .select -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--// .item* -->
                    </div>
									</div>
								</li>
								<li class="form-item">
									<div class="unit">
										<div class="form-name">
											<strong>메인이미지</strong>
										</div>
										<div class="form-value">
											<!-- .file -->
											<div class="file">
												<label for="fileItem1" class="file-label" aria-hidden="false" tabindex="0">
													<input type="file" name="" id="fileItem1" class="file-data" tabindex="-1" />
													<div class="file-btn"><span class="txt">찾아보기</span></div>
												</label>
												<div class="file-name" aria-hidden="true">
													<span class="txt">파일명.txt</span>
													<button type="button" class="btn-delete" tabindex="-1"><span class="sr-only">첨부파일 삭제</span></button>
													<button type="button" class="btn-download"><span class="sr-only">첨부파일 다운로드</span></button>
												</div>
                        <button type="button" class="btn filled option-md"><span>미리보기</span></button>
											</div>
											<!--// .file -->
											<!-- .list -->
											<ul class="list depth-u4 space-mt-min">
												<li>jpg, jpeg, png 포멧의 이미지만 선택 가능합니다.</li>
											</ul>
											<!--// .list -->
										</div>
									</div>
								</li>
                <li class="form-item">
									<div class="unit">
										<div class="form-name">
											<strong>목록이미지1</strong>
										</div>
										<div class="form-value">
											<!-- .file -->
											<div class="file">
												<label for="fileItem2" class="file-label" aria-hidden="false" tabindex="0">
													<input type="file" name="" id="fileItem2" class="file-data" tabindex="-1" />
													<div class="file-btn"><span class="txt">찾아보기</span></div>
												</label>
												<div class="file-name" aria-hidden="true">
													<span class="txt">파일명.txt</span>
													<button type="button" class="btn-delete" tabindex="-1"><span class="sr-only">첨부파일 삭제</span></button>
													<button type="button" class="btn-download"><span class="sr-only">첨부파일 다운로드</span></button>
												</div>
                        <button type="button" class="btn filled option-md"><span>미리보기</span></button>
											</div>
											<!--// .file -->
											<!-- .list -->
											<ul class="list depth-u4 space-mt-min">
												<li>jpg, jpeg, png 포멧의 이미지만 선택 가능합니다.</li>
											</ul>
											<!--// .list -->
										</div>
									</div>
								</li>
                <li class="form-item">
									<div class="unit">
										<div class="form-name">
											<strong>목록이미지1</strong>
										</div>
										<div class="form-value">
											<!-- .file -->
											<div class="file">
												<label for="fileItem3" class="file-label" aria-hidden="false" tabindex="0">
													<input type="file" name="" id="fileItem3" class="file-data" tabindex="-1" />
													<div class="file-btn"><span class="txt">찾아보기</span></div>
												</label>
												<div class="file-name" aria-hidden="true">
													<span class="txt">파일명.txt</span>
													<button type="button" class="btn-delete" tabindex="-1"><span class="sr-only">첨부파일 삭제</span></button>
													<button type="button" class="btn-download"><span class="sr-only">첨부파일 다운로드</span></button>
												</div>
                        <button type="button" class="btn filled option-md"><span>미리보기</span></button>
											</div>
											<!--// .file -->
											<!-- .list -->
											<ul class="list depth-u4 space-mt-min">
												<li>jpg, jpeg, png 포멧의 이미지만 선택 가능합니다.</li>
											</ul>
											<!--// .list -->
										</div>
									</div>
								</li>
							</ul>
							<!--// .form-list -->
						</div>
						<!-- .btn-group* -->
						<div class="btn-group">
              <button type="button" class="btn contained"><span>신규</span></button>
              <button type="button" class="btn filled"><span>삭제</span></button>
              <button type="button" class="btn primary"><span>저장</span></button>
						</div>
						<!--// .btn-group* -->
					</div>
					<!--// .form -->
				</div>
				<!--// .group -->

			</section>
			<!--// .section -->

		</article>
		<!--// #admin-content -->

		<!-- #admin-footer -->
		<footer id="admin-footer">
			<div class="item-row">
				<div class="unit fs-caption">[XX012345] : 메뉴관리</div>
				<div class="unit fs-caption">2023-09-07 23:59:00</div>
			</div>
		</footer>
		<!--// #admin-footer -->

	</main>
	<!--// #admin-main -->

  <!-- #popup -->
  <div id="popup">
    <!-- .calendar-popup -->
    <div class="calendar-popup" id="calendarPopup" role="dialog" aria-modal="true" aria-hidden="true" aria-labelledby="calendarTitle">
      <!-- .calendar-content -->
      <div class="calendar-content">
        <!-- .calendar-title -->
        <h2 class="calendar-title" id="calendarTitle"><span></span></h2>
        <!--// .calendar-title -->
        <!-- .calendar -->
        <div class="calendar">
          <div class="calendar-wrap-day">
            <button class="btn-prev"><span class="sr-only">이전달</span></button>
            <button class="btn-next"><span class="sr-only">다음달</span></button>
            <div class="calendar-group">
              <div class="calendar-head">
                <div class="select in-calendar">
                  <select name="" id="calendar1" class="select-data fn-year" aria-label="년">
                    <option value="2023" selected>2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                  </select>
                </div>
                <div class="select in-calendar">
                  <select name="" id="calendar2" class="select-data fn-month" aria-label="월">
                    <option value="04" selected>04</option>
                    <option value="05">05</option>
                    <option value="06">06</option>
                  </select>
                </div>
              </div>
              <div class="calendar-body">
                <div class="week">
                  <span class="day">일</span>
                  <span class="day">월</span>
                  <span class="day">화</span>
                  <span class="day">수</span>
                  <span class="day">목</span>
                  <span class="day">금</span>
                  <span class="day">토</span>
                </div>
                <div class="day-group">
                  <button class="day prev">26</button>
                  <button class="day prev">27</button>
                  <button class="day prev">28</button>
                  <button class="day prev">29</button>
                  <button class="day prev">30</button>
                  <button class="day prev">31</button>
                  <button class="day">1</button>
                  <button class="day">2</button>
                  <button class="day">3</button>
                  <button class="day">4</button>
                  <button class="day today">5</button>
                  <button class="day">6</button>
                  <button class="day is-active">7</button>
                  <button class="day">8</button>
                  <button class="day">9</button>
                  <button class="day">10</button>
                  <button class="day holiday">11</button>
                  <button class="day">12</button>
                  <button class="day">13</button>
                  <button class="day">14</button>
                  <button class="day">15</button>
                  <button class="day">16</button>
                  <button class="day">17</button>
                  <button class="day is-start">18</button>
                  <button class="day">19</button>
                  <button class="day">20</button>
                  <button class="day">21</button>
                  <button class="day">22</button>
                  <button class="day is-end">23</button>
                  <button class="day">24</button>
                  <button class="day">25</button>
                  <button class="day">26</button>
                  <button class="day">27</button>
                  <button class="day">28</button>
                  <button class="day">29</button>
                  <button class="day">30</button>
                  <button class="day next">1</button>
                  <button class="day next">2</button>
                  <button class="day next">3</button>
                  <button class="day next">4</button>
                  <button class="day next">5</button>
                  <button class="day next">6</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--// .calendar -->
        <!-- .btn-popup-close -->
        <button type="button" class="btn-popup-close">
          <span class="sr-only">팝업 닫기</span>
        </button>
        <!--// .btn-popup-close -->
      </div>
      <!--// .calendar-content -->
    </div>
    <!--// .calendar-popup -->
  </div>
  <!--// #popup -->

</div>
<!--// #admin-wrap -->
<script src="../admin/js/com/jquery-3.7.0.min.js"></script>
<script src="../admin/js/com/common_pub.js"></script>
<script src="./script.js"></script>
</body>
</html>