@charset "utf-8";
/* 
	기본정보
	- 생성일 : 2023-04-01
	- 파일명 : common.reset.css
	- 포함내용 : 전역변수, 초기화
*/

/* 전역변수 */
:root {
  /* 색상 */
  --color-light: #fff;

  --color-bg-light: #f6f7f8; /* Grey 50 */
  --color-bg-base: #edeff2; /* Grey 100 */
  --color-bg-dark: #e2e4e9; /* Grey 200 */

  --color-line-base: #a8aebd; /* Grey 400 */

  --color-disable: #c4c8d4; /* Grey 300 */
  --color-base: #7e869a; /* Grey 500 */
  --color-dark: #12192b; /* Grey 900 */

  --color-txt-sub: #656b7b; /* Grey 600 */
  --color-txt-body: #313749; /* Grey 800 */

  --color-primary: #0046ff; /* Primary 50 */
  --color-primary-dark: #0036c6; /* Blue Dark 39 */
  --color-primary-active: #00278e; /* Blue Dark 28 */

  --color-primary-disabled: #a8bfff; /* Blue 83 */

  --color-primary-bg-light: #f5f8ff; /* Blue 98 */
  --color-primary-bg-base: #ebf0ff; /* Blue 96 */
  --color-primary-bg-dark: #ccdaff; /* Blue 90 */

  --color-secondary: #00856c;
  --color-highlight: #f5002c;
  --color-success: #229639;
  --color-warning: #fc5925;
  --color-info: #8e00e4;

  --color-dimmed: rgba(0, 0, 0, 0.7);

  /* 폰트두께 */
  --font-bold: 700;
  --font-semibold: 600;
  --font-medium: 500;
  --font-regular: 400;
  --font-light: 300;

  /* 폰트크기 */
  --font-headline-lg: 4rem;
  --font-headline-md: 2.8rem;

  --font-title-32-xl: 3.2rem;
  --font-title-lg: 2.4rem;
  --font-title-md: 2rem;
  --font-title-sm: 1.8rem;
  --font-title-xs: 1.6rem;

  --font-lg: 1.8rem;
  --font-md: 1.6rem;
  --font-sm: 1.5rem;
  --font-xs: 1.4rem;
  --font-xxs: 1.3rem;
  --font-min: 1.2rem;
  --font-11-xmin: 1.1rem;

  /* 선두께 */
  --line-xl: 0.4rem;
  --line-lg: 0.2rem;
  --line-md: 0.15rem;
  --line-sm: 0.1rem;

  /* 그림자 */
  --shadow-reset: 0 0 0 rgba(0, 0, 0, 0);
  --shadow-sm: 0 0.1rem 0.4rem 0 rgba(18, 25, 43, 0.04);
  --shadow-md: 0 0.2rem 0.8rem 0 rgba(18, 25, 43, 0.08);
  --shadow-lg: 0 0.4rem 1.6rem 0 rgba(18, 25, 43, 0.08);

  --shadow-primary-sm: 0 0.1rem 0.4rem 0 rgba(85, 141, 255, 0.16);
  --shadow-primary-md: 0 0.2rem 0.8rem 0 rgba(85, 141, 255, 0.16);
  --shadow-primary-lg: 0 0.4rem 1.2rem 0 rgba(85, 141, 255, 0.28);

  /* 모서리지름 */
  --radius-xl: 2.4rem;
  --radius-20-la: 2.0rem;
  --radius-lg: 1.6rem;
  --radius-md: 0.8rem;
  --radius-sm: 0.4rem;

  /* 여백 */
  --space-body: 2rem;
  --space-max: 4.8rem;
  --space-xxl: 4rem;
  --space-xl: 3.2rem;
  --space-lg: 2.4rem;
  --space-md: 2rem;
  --space-sm: 1.6rem;
  --space-xs: 1.2rem;
  --space-xxs: 0.8rem;
  --space-min: 0.4rem;

  /* 아이콘사이즈 */
  --icon-max: 6.4rem;
  --icon-xl: 4.8rem;
  --icon-lg: 3.6rem;
  --icon-md: 2.4rem;
  --icon-sm: 1.6rem;
  --icon-xs: 1.2rem;

  /* 공통아이콘 */
  --bg-url-max: url('../../image/com/ico-common-max.svg');
  --bg-url-xl: url('../../image/com/ico-common-xl.svg');
  --bg-url-lg: url('../../image/com/ico-common-lg.svg');
  --bg-url-md: url('../../image/com/ico-common-md.svg');
  --bg-url-sm: url('../../image/com/ico-common-sm.svg');
  --bg-url-xs: url('../../image/com/ico-common-xs.svg');
  --bg-url-etc: url('../../image/com/ico-common-etc.svg');
  --bg-url-confirm: url('../../image/com/ico-common-confirm.svg');

  --bg-size-max: 64rem auto; /* 64*64 */
  --bg-size-xl: 48rem auto; /* 48*48 */
  --bg-size-lg: 36rem auto; /* 36*36 */
  --bg-size-md: 24rem auto; /* 24*24 */
  --bg-size-sm: 16rem auto; /* 16*16 */
  --bg-size-xs: 12rem auto; /* 12*12 */
  --bg-size-etc: 20rem auto;

  /* 공통아이콘 : 이전 버전 삭제 예정 */
  --bg-icon-temp-url: url('../../image/com/ico-common-temp.svg');

  /* 애니메이션 */
  --animation-speed-fast: 0.15s;
  --animation-speed: 0.3s;
  --animation-timing-base: cubic-bezier(0.4, 0, 0.7, 1);
  --animation-timing-outback: cubic-bezier(0.4, 0, 0.3, 1.8);
  --animation-timing-outback-sm: cubic-bezier(0.4, 0, 0.1, 1.4);
  --animation-timing-ease: ease;
  --animation-timing-linear: linear;
}

/* 전역변수 - (태블릿) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

/* 전역변수 - (태블릿+PC) */
@media screen and (min-width: 768px) {
}

/* 전역변수 - (PC) */
@media screen and (min-width: 1025px) {
}


/* 초기화 */
*,
:before,
:after {
  box-sizing: border-box;
}
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
ul,
ol,
li,
p,
input,
select,
textarea,
table,
th,
td {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  font-size: 62.5%;
}
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: 'Pretendard', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  line-height: 1.5;
  font-size: var(--font-md);
  font-weight: var(--font-regular);
  color: var(--color-txt-body);
}
html,
body {
  /* overflow: hidden; */
  height: 100%;
}
button,
input,
select,
textarea {
  max-width: 100%;
  font: inherit;
  box-shadow: none;
  background-color: transparent;
}
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  appearance: button;
}
canvas,
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
fieldset {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style-type: none;
}
strong {
  font-weight: 600;
}
em {
  font-style: normal;
}
a {
  text-decoration: none;
}
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
}
/* a:focus {outline-style: dashed; outline-color: #004FE9; outline-width: .1rem; outline-offset: -.1rem;} */
::selection {
  background-color: var(--color-primary);
  color: var(--color-light);
}
input::-ms-clear,
input::-ms-reveal,
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}
