@charset "utf-8";

#page[data-page-main="main"] { background-image: url('../../image/man/bg_main.png'); background-repeat: no-repeat; background-position: center top; background-size: cover; } 

#page[data-page-main="main"] #header { background-color: rgba(0, 0, 0, .45); } 
.front-wrap #page[data-page-main="main"] .logo { width: 22rem; background-image: url('../../image/com/logo-front-white.svg');}
#page[data-page-main="main"] #header .gnb-wrap .userinfo,
#page[data-page-main="main"] #header .gnb-wrap .userinfo .ip { color: var(--color-light);}
#page[data-page-main="main"] #header .gnb-wrap .userinfo .fc-primary { color: var(--color-light) !important;}
#page[data-page-main="main"] .gnb-list.depth-u1 { background-color: transparent; } 
#page[data-page-main="main"] .gnb-list.depth-u1 > li > a { color: var(--color-light); } 

#page[data-page-main="main"] .main .section { width: 100%; } 
#page[data-page-main="main"] .main .section:first-child {padding-top: 19.6rem;}
#page[data-page-main="main"] .main .section:last-child {padding-bottom: 6.6rem;}
#page[data-page-main="main"] .main-content { position: relative; display: flex; width: 100%; height: 50.6rem; justify-content: flex-end; }
#page[data-page-main="main"] .main-content .main-title { position: absolute; top: 50%; left: 50%; color: var(--color-light); font-size: 6.4rem; font-weight: var(--font-medium); line-height: 1.35; letter-spacing: -0.064rem; transform: translate(-64rem, -50%);} 
#page[data-page-main="main"] .main-content .main-title .small { font-size: 3.2rem; letter-spacing: -0.032rem; } 
#page[data-page-main="main"] .main-content .main-title .btn-wrap { margin-top: 3.2rem; } 
#page[data-page-main="main"] .main-content .main-title .btn-wrap .btn { width: 21rem; box-shadow: none; } 
#page[data-page-main="main"] .main-content .slide-wrap { position: relative; flex: 0 0 91.1rem; width: 91.1rem;  padding-left: 8.7rem; justify-items: flex-end; margin-right: 0.8rem; overflow: hidden;}
#page[data-page-main="main"] .main-content .slide-inner {width: 82.4rem; padding: 1rem 0 0 1rem; overflow: hidden; }
/* #page[data-page-main="main"] .list-card { overflow: hidden;  }  */
#page[data-page-main="main"] .list-card { width: 38.4rem; overflow: visible;}
#page[data-page-main="main"] .list-card.swiper { margin-left: 0; margin-right: 0;}
#page[data-page-main="main"] .list-card .item { width: 38.4rem; height: 49.6rem; top: 0; left: 0; background-color: var(--color-light); opacity: 0.15; transition: var(--animation-speed) all var(--animation-timing-base); } 
#page[data-page-main="main"] .list-card .item.swiper-slide-active,
#page[data-page-main="main"] .list-card .item:hover,
#page[data-page-main="main"] .list-card .item:focus-visible { opacity: 1; transform: translate(0); } 
#page[data-page-main="main"] .list-card .item:hover,
#page[data-page-main="main"] .list-card .item:focus-visible { top: -1rem; left: -1rem; }
#page[data-page-main="main"] .swiper {position: static;}
#page[data-page-main="main"] .swiper-button-next:after,
#page[data-page-main="main"] .swiper-button-prev:after { display: none; } 
#page[data-page-main="main"] .swiper-button-next,
#page[data-page-main="main"] .swiper-container-rtl .swiper-button-prev,
#page[data-page-main="main"] .swiper-button-prev,
#page[data-page-main="main"] .swiper-container-rtl .swiper-button-next { background-image: url('../../../view/image/man/slide_arrow.svg'); } 
#page[data-page-main="main"] .swiper-button-next,
#page[data-page-main="main"] .swiper-button-prev { width: 6.4rem; height: 6.4rem; background-size: auto 6.4rem; background-position: 0 0; }
#page[data-page-main="main"] .swiper-button-next,
#page[data-page-main="main"] .swiper-container-rtl .swiper-button-prev { left: 50.5rem; background-position: -6.8rem 0;}
#page[data-page-main="main"] .swiper-button-prev,
#page[data-page-main="main"] .swiper-container-rtl .swiper-button-next { left: 1rem; } 

#page[data-page-main="main"] .main-info { display: flex; justify-content: center; margin-top: 21.8rem; } 
#page[data-page-main="main"] .main-info > li { display: flex; align-items: center; color: var(--color-light); line-height: 1.5; opacity: .3; } 
#page[data-page-main="main"] .main-info > li + li { margin-left: 2.4rem; } 
#page[data-page-main="main"] .main-info .ico::before {content: ''; display: inline-flex; width: 1.6rem; height: 1.6rem; margin-right: .4rem; background-image: url('../../image/com/ico-x16.svg'); background-repeat: no-repeat; background-size: auto 1.6rem;}
#page[data-page-main="main"] .main-info .ico.ic-tel::before { background-position: 0 0; } 
#page[data-page-main="main"] .main-info .ico.ic-mail::before { background-position: -2rem 0; } 