@charset "utf-8";

#header { position: absolute; background: none; box-shadow: none; }
.main { height: 100%; }
#content { height: 100%; }

.section.bridge {
  display: flex;
  height: 100%;
}
.portal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
  background-image: url(../image/bridge/bridge-auto.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.portal.ss {
  background-image: url(../image/bridge/bridge-ss.png);
}
.portal.api {
  background-image: url(../image/bridge/bridge-api.png);
}

.portal>.inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 18rem;
}

.portal .txt-wrap {
  
  width: 100%;
  transition: all 0.5s var(--animation-timing-base);
}

.portal .txt-wrap .main-title {
  text-align: center;
  color: var(--color-light);
  font-size: 7.2rem;
  font-weight: var(--font-semibold);
  letter-spacing: -0.072rem;
  line-height: 1.2;
}
.portal .txt-wrap .main-title .small {
  display: block;
  font-size: var(--font-lg);
  font-weight: var(--font-regular);
  letter-spacing: -0.01rem;
}
.portal .txt-wrap p {
  text-align: center;
  color: var(--color-light);
  font-size: var(--font-title-lg);
}

.portal .btn-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(-13.89vh);
  transition: all 0.5s var(--animation-timing-base);
}
.portal .btn-wrap .btn.filled {
  display: block;
  width: 24rem;
  padding: 1.4rem;
  background-color: rgba(87, 87, 87, 0.4);
  border-color: rgba(87, 87, 87, 0.4);
  border-width: 0;
  border-radius: 2.6rem;
  text-align: center;
  color: var(--color-light);
}

.btn.primary {
  background-color: var(--color-primary); 
  border-color: var(--color-primary);
  color: var(--color-light);
  width: 32rem;
  height: 8rem;
  border-radius: 4rem;
  font-size: var(--font-lg);
  font-weight: var(--font-semibold);
  margin-top: 9.26vh;
}

.portal .btn-group>a + a {
  margin-top: var(--space-xs);
}

.portal .info-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-bottom: 1.39vh;
  opacity: 0;
  transition: all 0.5s var(--animation-timing-base);
}
.portal .info-wrap li {
  color: var(--color-light);
  opacity: 0.3;
}
.portal .info-wrap li:first-child {
  width: 100%;
  text-align: center;
}
.portal .info-wrap li:last-child {
  margin-left: 1.7rem;
}
.info-wrap .ico::before {content: ''; display: inline-flex; width: 1.6rem; height: 1.6rem; margin-right: .6rem; background-image: url('../image/com/ico-x16.svg'); background-repeat: no-repeat; background-size: auto 1.6rem;}
.info-wrap .ico.ic-tel::before { background-position: 0 0; } 
.info-wrap .ico.ic-mail::before { background-position: -2rem 0; }

.portal:hover .txt-wrap {
  transform: translateY(-20vh)
}
.portal:hover .info-wrap,
.portal:hover .btn-wrap {
  opacity: 1;
}