/* 가이드 페이지 스타일 */
code { font-family: Consolas, 'Pretendard Variable'; } 
.btn-group.option-main,
.content-foot { position: relative; } 
.logo { width: 21.5rem; background-image: url('../../image/com/logo-front.svg'); } 

/* 가이드 페이지 스타일 - (PC) */
#page { overflow-x: auto; } 
#aside { display: block; position: fixed; z-index: 5; top: 64px; bottom: 0; left: 0; width: 240px; } 
#aside > .box { display: flex; flex-direction: column; height: 100%; border-radius: 0; padding-right: .2rem; padding-bottom: 0; } 
#aside .scrollbar { height: 100%; overflow-y: auto; padding-right: 1.4rem; padding-bottom: 1.6rem; } 
#aside .note-list a { font-size: var(--font-xs); color: var(--color-dark); } 
#aside .note-list a:hover,
#aside .note-list a:active { text-decoration: underline; } 
#content { padding-left: 264px; min-width: calc(1200px + 264px); overflow: hidden; } 
#content > .section:first-of-type { padding-top: 4rem; } 
.front-wrap .title-h2,
.front-wrap .title-h2 + .note { margin-left: 3rem; margin-right: 3rem; } 
.front-wrap .box .title-h2 { margin-left: 0; margin-right: 0; }