@charset "utf-8"; /* 
기본정보
- 생성일 : 2023-04-01
- 파일명 : common.popup.css
- 포함내용 : 팝업 스타일 정의 - 모달, 바텀시트, 팝오버, 툴팁
*/
/* 
수정정보
- 수정일 : 2023-04-01
- 수정내용 : XXX(홍길동)
*/

/* 팝업레이아웃 */
#popup { } 
.popup-wrap { position: fixed; z-index: 20; display: flex; justify-content: center; transform: translate3d(0,100%,0); } 
.popup-wrap:before { content: ''; position: fixed; background-color: var(--color-dimmed); transform: translate3d(0,100%,0); opacity: 0; } 
.popup-inner { position: relative; overflow: hidden; z-index: 21; display: flex; flex-direction: column; width: 100%; background-color: var(--color-light); opacity: 0; } 
.popup-head { position: relative; padding: 1.8rem 7.2rem 1.8rem 4.0rem; border-bottom: var(--line-sm) solid var(--color-bg-dark); } 
.popup-head.is-hide { min-height: 4.4rem; } 
.popup-content { overflow-y: auto; overflow-x: hidden; } 
.popup-content .section { padding-left: 4.0rem; padding-right: 4.0rem; } 
.popup-content .section:first-child { padding-top: 2.8rem; } 
.popup-content .section:last-child { padding-bottom: 2.4rem; } 
.popup-content .group + .group { padding-top: 2.8rem; } 
.popup-content .box { padding-top: 2.1rem; padding-bottom: 2.1rem; } 
.popup-foot { position: relative; padding: 0 4.0rem 3.2rem; } 
.popup-foot .btn-group { justify-content: center; } 
.popup-foot .btn-group > .btn + .btn { margin-left: var(--space-xs); } 
.option-modal .popup-foot .btn-group .btn { padding: 1.3rem 1.5rem 1.4rem; font-size: var(--font-lg); } 
.option-custom .popup-foot .btn-group .btn { padding: .9rem 1.1rem .8rem; border-radius: var(--radius-sm); font-size: var(--font-xs); } 
.option-custom .popup-foot .btn-group .btn > span { font-weight: var(--font-regular); } 

.modal-msg { color: var(--color-dark); } 

/** 팝업레이아웃 - 타이틀, 닫기 버튼 */
.popup-title { line-height: 1.35; font-weight: var(--font-semibold); font-size: var(--font-title-sm); color: var(--color-dark); } 
[data-main-copy="true"] .popup-title > span { opacity: 0; } 
[data-main-copy="true"] .popup-title.is-active > span { opacity: 1; transition: opacity var(--animation-speed) var(--animation-timing-ease); } 

.btn-popup-close { position: absolute; overflow: hidden; z-index: 1; top: 2.0rem; right: 2.0rem; width: var(--icon-md); height: var(--icon-md); background: var(--bg-url-md) no-repeat calc(var(--icon-md) * -3) 0; background-size: var(--bg-size-md); } 

.popup-head.is-hide ~ .popup-content > .section:first-child { padding-top: 0; } 
.popup-head.is-hide .popup-title > span { overflow: hidden; position: absolute; clip: rect(0, 0, 0, 0); clip-path: polygon(0 0, 0 0, 0 0); width: 1px; height: 1px; margin: -1px; } 

/** 팝업레이아웃 - 타이틀, 닫기 버튼 - (PC) */
@media screen and (min-width: 1025px){
 .btn-popup-close { top: 20px; right: 20px; } 
.btn-popup-close .icon:before { width: 17px; } 
.btn-popup-close .icon:after { width: 17px; } 
 }

/* 풀 */
.popup-wrap.option-full { inset: 0; height: calc(var(--vh, 1vh) * 100); align-items: center; transition: transform var(--animation-speed) var(--animation-timing-outback-sm); } 
.popup-wrap.option-full:before { bottom: calc(var(--vh, 1vh) * -10); left: 0; width: 100vw; height: calc(var(--vh, 1vh) * 110); transition: opacity var(--animation-speed-fast) var(--animation-timing-base) var(--animation-speed); } 
.popup-wrap.option-full:after { content: ''; position: absolute; left: 0; right: 0; bottom: calc(var(--vh, 1vh) * -10); height: calc(var(--vh, 1vh) * 10); background-color: var(--color-light); } 
.popup-wrap.option-full .popup-inner { max-width: 360px; height: calc(var(--vh, 1vh) * 90); transition: opacity var(--animation-speed-fast) var(--animation-timing-base); border-radius: var(--radius-20-la); } 
.popup-wrap.option-full .popup-head { padding: 1.5rem 5.6rem 1.471rem; text-align: center; } 
.popup-wrap.option-full .popup-content { flex-basis: 100%; padding-top: 0; } 
.popup-wrap.option-full .btn-popup-close { top: 1.5rem; right: var(--space-sm); } 
.popup-wrap.option-full .popup-head.is-hide { min-height: 5.4rem; } 
.popup-wrap.option-full .popup-foot .btn-group { padding-top: 1.2rem; } 
.popup-wrap.option-full .popup-foot .btn-group:before { content: ''; position: absolute; top: -1.2rem; left: 0; right: 0; height: 1.2rem; background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); } 
.popup-wrap.option-full.expended .popup-inner { max-width: 90%; height: calc(var(--vh, 1vh) * 90); border-radius: var(--radius-20-la); } 

/* 바텀시트 */
.popup-wrap.option-bottom-sheet { left: 0; bottom: 0; right: 0; transition: transform var(--animation-speed) var(--animation-timing-outback-sm); } 
.popup-wrap.option-bottom-sheet:before { bottom: calc(var(--vh, 1vh) * -10); left: 0; width: 100vw; height: calc(var(--vh, 1vh) * 110); transition: opacity var(--animation-speed-fast) var(--animation-timing-base) var(--animation-speed-fast); } 
.popup-wrap.option-bottom-sheet:after { content: ''; position: absolute; left: 0; right: 0; bottom: calc(var(--vh, 1vh) * -10); height: calc(var(--vh, 1vh) * 10); background-color: var(--color-light); } 
.popup-wrap.option-bottom-sheet .popup-inner { max-height: calc(var(--vh, 1vh) * 90); border-top-left-radius: var(--radius-lg); border-top-right-radius: var(--radius-lg); transition: opacity var(--animation-speed-fast) var(--animation-timing-base); } 
.popup-wrap.option-bottom-sheet .popup-content { flex-basis: 100%; } 
.popup-wrap.option-bottom-sheet .popup-foot .btn-group { padding-top: 1.2rem; } 
.popup-wrap.option-bottom-sheet .popup-foot .btn-group:before { content: ''; position: absolute; top: -1.2rem; left: 0; right: 0; height: 1.2rem; background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); } 

/* 바텀시트 - (태블릿+PC) */
@media screen and (min-width: 768px){
 .popup-wrap.option-bottom-sheet .popup-inner { max-width: 360px; } 
.popup-wrap.option-bottom-sheet:after { left: 50%; right:inherit; max-width: 360px; margin-left: -180px; } 
 }

/** 바텀시트 - 콘텐츠접기 */
.popup-wrap.option-bottom-sheet.option-fold { will-change: auto; } 
.popup-wrap.option-bottom-sheet.option-fold.is-open { will-change: max-height; } 
.popup-wrap.option-bottom-sheet.option-fold .popup-inner { max-height: calc(var(--vh, 1vh) * 50); transition: max-height var(--animation-speed) var(--animation-timing-ease); } 
.popup-wrap.option-bottom-sheet.option-fold .popup-inner.is-fill { max-height: calc(var(--vh, 1vh) * 90); } 
.popup-wrap.option-bottom-sheet.option-fold .popup-head { padding-top: 2.4rem; } 
.popup-wrap.option-bottom-sheet.option-fold .popup-head.is-hide { min-height: 4.8rem; } 
.popup-wrap.option-bottom-sheet.option-fold .btn-popup-close { top: 2.4rem; } 
.btn-popup-drag { position: absolute; z-index: 1; top: 0; left: 50%; display: inline-block; padding: 1.0rem 2.0rem 1.6rem; margin-left: -6.0rem; } 
.btn-popup-drag:before { content: ''; display: block; width: 8.0rem; height: .4rem; border-radius: var(--radius-sm); background-color: var(--color-bg-base); } 

/* 모달 */
.popup-wrap.option-modal { inset: 0; align-items: center; transition: transform 0s var(--animation-timing-base) var(--animation-speed); } 
.popup-wrap.option-modal:before { inset: 0; transition: opacity var(--animation-speed) var(--animation-timing-base), transform 0s var(--animation-speed); } 
.popup-wrap.option-modal .popup-inner { max-width: 320px; max-height: calc(var(--vh, 1vh) * 90); margin: 0; border-radius: var(--radius-lg); box-shadow: var(--shadow-sm); transform: translate3d(0,-12%,0); transition: opacity var(--animation-speed-fast) var(--animation-timing-base), transform var(--animation-speed) var(--animation-timing-outback); } 

.popup-wrap.option-modal.is-open { transition-duration: 0s; transition-delay: 0s; } 
.popup-wrap.option-modal.is-open:before { transition: opacity var(--animation-speed) var(--animation-timing-base), transform 0s 0s; } 
.popup-wrap.option-modal.is-open .popup-inner { transform: translate3d(0,0,0); } 
.popup-wrap.option-modal .popup-inner { max-width: 79.2rem; border-radius: var(--radius-20-la); } 
.popup-wrap.option-modal.wide .popup-inner { max-width: 123rem; } 

/* 커스텀 */
.popup-wrap.option-custom { inset: 0; align-items: center; transition: transform 0s var(--animation-timing-base) var(--animation-speed); } 
.popup-wrap.option-custom:before { inset: 0; transition: opacity var(--animation-speed) var(--animation-timing-base), transform 0s var(--animation-speed); } 
.popup-wrap.option-custom .popup-inner { max-width: 280px; max-height: calc(var(--vh, 1vh) * 90); margin: 0; border-radius: var(--radius-lg); box-shadow: var(--shadow-sm); transform: translate3d(0,-12%,0); transition: opacity var(--animation-speed-fast) var(--animation-timing-base), transform var(--animation-speed) var(--animation-timing-outback); } 
.popup-wrap.option-custom .popup-head { padding: 2.4rem 2.0rem 1.6rem; text-align: center; border-bottom: none; } 
.popup-wrap.option-custom .popup-head.is-hide { min-height: 2.4rem; padding: 0; border-bottom: none; } 
.popup-wrap.option-custom .popup-content .section { padding-left: 2.0rem; padding-right: 2.0rem; } 
.popup-wrap.option-custom .popup-content .section:first-child { padding-top: 0; } 
.popup-wrap.option-custom .popup-content .section:last-child { padding-bottom: 2.0rem; } 
.popup-wrap.option-custom .popup-foot { padding-left: 2.0rem; padding-right: 2.0rem; padding-bottom: 2.0rem; } 
.popup-wrap.option-custom .btn-group > .btn + .btn { margin-left: var(--space-xxs); } 

.popup-wrap.option-custom.is-open { transition-duration: 0s; transition-delay: 0s; } 
.popup-wrap.option-custom.is-open:before { transition: opacity var(--animation-speed) var(--animation-timing-base), transform 0s 0s; } 
.popup-wrap.option-custom.is-open .popup-inner { transform: translate3d(0,0,0); } 

.popup-custom-txt { text-align: center; font-size: var(--font-xs); color: var(--color-txt-sub); word-break: keep-all; } 
.popup-custom-txt > strong { color: var(--color-dark); } 
.popup-custom-txt + .popup-custom-txt { margin-top: var(--space-xxs); } 
.popup-alarm-visual { margin-bottom: 2.0rem; } 

/* 접고펼치기 */
.btn-popup-guide-open { position: fixed; z-index: 30; left: 0; bottom: 0; width: 100%; height: 6.4rem; } 
.popup-wrap.option-guide { left: 0; bottom: 0; right: 0; transform: translate3d(0,0,0); } 
.popup-wrap.option-guide:before { bottom: 0; left: 0; width: 100vw; height: calc(var(--vh, 1vh) * 100); transition: opacity var(--animation-speed-fast) var(--animation-timing-base) var(--animation-speed-fast); } 
.popup-wrap.option-guide .popup-inner { opacity: 1; border-top-left-radius: var(--radius-20-la); border-top-right-radius: var(--radius-20-la); box-shadow: 0 -.4rem 1.6rem 0 rgba(18, 25, 43, 0.08); } 
.popup-wrap.option-guide .popup-content { overflow-y: hidden; max-height: 0; transition: max-height var(--animation-speed) var(--animation-timing-ease); } 
.popup-wrap.option-guide.is-open .popup-content { max-height: calc(var(--vh, 1vh) * 80); } 

.btn-popup-fold { position: absolute; overflow: hidden; z-index: 1; top: 2.0rem; right: 2.0rem; width: var(--icon-md); height: var(--icon-md); background: var(--bg-url-md) no-repeat calc(var(--icon-md) * -3) calc(var(--icon-md) * -1); background-size: var(--bg-size-md); transform: rotate(-180deg); transition: transform var(--animation-speed) var(--animation-timing-base); } 
.popup-wrap.option-guide.is-open .btn-popup-fold { transform: rotate(0deg); } 

/* .popup-wrap.option-bottom-sheet { left: 0; bottom: 0; right: 0; transition: transform var(--animation-speed) var(--animation-timing-outback-sm); } 
.popup-wrap.option-bottom-sheet:before { bottom: calc(var(--vh, 1vh) * -10); left: 0; width: 100vw; height: calc(var(--vh, 1vh) * 110); transition: opacity var(--animation-speed-fast) var(--animation-timing-base) var(--animation-speed-fast); } 
.popup-wrap.option-bottom-sheet:after { content: ''; position: absolute; left: 0; right: 0; bottom: calc(var(--vh, 1vh) * -10); height: calc(var(--vh, 1vh) * 10); background-color: var(--color-light); } 
.popup-wrap.option-bottom-sheet .popup-inner { max-height: calc(var(--vh, 1vh) * 90); border-top-left-radius: var(--radius-lg); border-top-right-radius: var(--radius-lg); transition: opacity var(--animation-speed-fast) var(--animation-timing-base); } */

/* 팝업레이아웃 - 오픈시 */
.popup-wrap.is-open { transform: translate3d(0,0,0); } 
.popup-wrap.is-open:before { transform: translate3d(0,0,0); opacity: 1; } 
.popup-wrap.is-open .popup-inner { opacity: 1; } 

/* 팝오버 */
.helper { display: inline-flex; width: var(--icon-sm); height: var(--icon-sm); margin-top: -.2rem; vertical-align: middle; } 
.helper-btn { display: block; width: 100%; height: 100%; background: var(--bg-url-sm) no-repeat calc(var(--icon-sm) * -4) 0; background-size: var(--bg-size-sm); } 

.popover { position: absolute; z-index: -1; left: 2.0rem; width: calc(100% - 4.0rem); padding: 4.0rem 4.0rem 2.0rem 2.0rem; text-align: left; transform: translate3d(0,-12%,0); opacity: 0; transition: transform var(--animation-speed) var(--animation-timing-outback), opacity var(--animation-speed) var(--animation-timing-outback), z-index 0s .3s; } 
.popover.is-open { z-index: 10; transform: translate3d(0,0,0); opacity: 1; transition: transform var(--animation-speed) var(--animation-timing-outback), opacity var(--animation-speed) var(--animation-timing-outback), z-index 0s 0s; } 
.popover:before { content: ''; position: absolute; z-index: -1; inset: 2.0rem 0 0; background-color: var(--color-light); border: var(--line-sm) solid var(--color-disable); border-radius: var(--radius-lg); box-shadow: var(--shadow-lg); } 

.popover-title { line-height: 1.35; font-size: var(--font-md); color: var(--color-dark); } 
.popover-content { font-size: var(--font-xs); color: var(--color-txt-body); } 
.popover-content .text { font-weight: var(--font-regular); font-size: var(--font-xs); } 
.popover-title ~ .popover-content { padding-top: var(--space-xxs); } 
.btn-popover-close { position: absolute; z-index: 1; top: 4.0rem; right: 2.0rem; width: var(--icon-sm); height: var(--icon-sm); background: var(--bg-url-sm) no-repeat calc(var(--icon-sm) * -5) calc(var(--icon-sm) * -3); background-size: var(--bg-size-sm); } 

.popup-wrap .popup-inner .popup-foot .btn-group .btn.texted { min-width: auto; padding-top: 0; padding-bottom: 0; } 
.popup-wrap .popup-inner .popup-foot .btn-group .btn.texted > span { padding-top: 0; padding-bottom: 0; } 

/* 팝오버 - (태블릿+PC) */
@media screen and (min-width: 768px){
 #content .popover,
 .popup-wrap.option-full.expended .popover { left: auto; width: 320px; } 
 .helper.option-right { justify-content: flex-end; } 
 }

.popup-wrap .popup-content .form.option-regist .form-list .unit .form-name { flex-basis: 12.2rem; } 
.popup-wrap .popup-content .form.option-regist .form-wrap { border-top: none; padding-top: 0; } 

/* 툴팁 */
.tooltip { display: inline-flex; width: var(--icon-sm); height: var(--icon-sm); margin-top: -.2rem; vertical-align: middle; } 
.tooltip-btn { display: block; width: 100%; height: 100%; background: var(--bg-url-sm) no-repeat calc(var(--icon-sm) * -3) 0; background-size: var(--bg-size-sm); } 
.tooltip-btn > span { font-size: 0; } 
.tooltip-body { position: absolute; z-index: -1; padding: .8rem 1.2rem; background-color: var(--color-txt-sub); border-radius: var(--radius-md); box-shadow: var(--shadow-sm); line-height: 1.35; font-weight: var(--font-regular); font-size: var(--font-min); color: var(--color-light); transform: translate3d(0,-12%,0); opacity: 0; transition: transform var(--animation-speed) var(--animation-timing-outback), opacity var(--animation-speed) var(--animation-timing-outback), z-index 0s .3s; } 
.tooltip-body:before { content: ''; position: absolute; width: .5rem; height: .8rem; background: var(--bg-url-etc) no-repeat 0 0; background-size: var(--bg-size-etc); } 

.tooltip.is-open .tooltip-body { z-index: 10; transform: translate3d(0,0,0); opacity: 1; transition: transform var(--animation-speed) var(--animation-timing-outback), opacity var(--animation-speed) var(--animation-timing-outback), z-index 0s 0s; } 

.tooltip.bottom { align-items: end; } 
.tooltip.bottom.left .tooltip-body { margin-bottom: 2.4rem; margin-left: -1.0rem; margin-right: 2.0rem; } 
.tooltip.bottom.left .tooltip-body:before { bottom: -.5rem; left: 1.6rem; transform: rotate3d(0, 0, 1, 270deg); } 

.tooltip.bottom.right { justify-content: flex-end; } 
.tooltip.bottom.right .tooltip-body { margin-bottom: 2.4rem; margin-right: -1.0rem; margin-left: 2.0rem; } 
.tooltip.bottom.right .tooltip-body:before { bottom: -.5rem; right: 1.6rem; transform: rotate3d(0, 0, 1, 270deg); } 

.tooltip.top { align-items: start; } 
.tooltip.top.left .tooltip-body { margin-top: 2.4rem; margin-left: -1.0rem; margin-right: 2.0rem; } 
.tooltip.top.left .tooltip-body:before { top: -.5rem; left: 1.6rem; transform: rotate3d(0, 0, 1, 90deg); } 

.tooltip.top.right { justify-content: flex-end; } 
.tooltip.top.right .tooltip-body { margin-top: 2.4rem; margin-right: -1.0rem; margin-left: 2.0rem; } 
.tooltip.top.right .tooltip-body:before { top: -.5rem; right: 1.6rem; transform: rotate3d(0, 0, 1, 90deg); } 

.popup-wrap .list-foot { padding-bottom: .4rem; } 