@charset "utf-8";
@import url('common.font.css'); /* 웹폰트 */
@import url('common.reset.css'); /* 전역변수, 초기화 */
@import url('common.layout.css'); /* 전체레이아웃, 브레드크럼 */
@import url('common.popup.css'); /* 팝업 스타일 정의 - 모달, 바텀시트, 팝오버, 툴팁 */
@import url('common.form.css'); /* 데이터 관련 요소 스타일 정의 - 버튼, 텍스트필드, 캘린더, 셀렉트박스, 텍스트에어리어, 라디오버튼, 체크박스, 칩, 스위치, 토글라디오버튼 */
@import url('common.module.css'); /* 그룹화 된 구성 요소 스타일 정의 - 공지사항, 박스, 탭, 아코디언, 등록폼, 폼도움말, 검색, 게시판형목록, 카드형목록, 테이블, 요소분할, 페이지진행상황바(⚠) */
@import url('common.element.css'); /* 단일 요소 스타일 정의 - 스크롤바, 아이콘, 뱃지, 태그, 스텝, 링크, 헤드라인, 제목, 텍스트, 폰트, 정렬, 사이즈, 여백 */

/* 
기본정보
- 생성일 : 2023-04-01
- 파일명 : content.css
- 포함내용 : 공통 이외의 사용 빈도수가 상대적으로 낮은 콘텐츠 스타일 정의
*/
/* 
수정정보
- 수정일 : 2023-04-01
- 수정내용 : XXX(홍길동)
*/

/* 주소 검색 */
.board-option-post { justify-content: left; align-items: start; padding: var(--space-sm) var(--space-lg) var(--space-sm) 0; } 
.board-option-post .unit + .unit { margin-left: var(--space-sm); } 
.cell-postcode { display: block; font-weight: var(--font-semibold); font-size: var(--font-xs); color: var(--color-dark); } 
.cell-address { display: block; font-size: var(--font-xs); color: var(--color-dark); } 
.cell-old-address { display: block; margin-top: var(--space-xxs); font-size: var(--font-xxs); color: var(--color-base); } 

/* 메인 */
/* #page.mainbg { height: calc(100vh - 10rem); min-height: 101rem; }   */

/* 대시보드 */
#page[data-page-main="dash"] { background-image: url('../../image/myp/bg_dashboard.png'); background-repeat: no-repeat; background-position: center bottom -15rem; } 
#page[data-page-main="dash"] #content > .section:first-child { padding-top: 0; } 
#page[data-page-main="dash"] #content > .section:last-child { padding-bottom: 9rem; } 
#page[data-page-main="dash"] .title-main.option-api { margin-bottom: 0; }
#page[data-page-main="dash"] .title-main > .txt { color: var(--color-light); } 
.dash-card { display: flex; flex-wrap: wrap; } 
.dash-card > li {flex: 0 0 32%; max-width: 38.4rem; margin: 0 0 var(--space-lg) var(--space-lg); } 
.dash-card > li:nth-of-type(3n + 1) { margin-left: 0; } 
.dash-card > li > a { display: block; border-radius: var(--radius-md); } 
.dash-card .item { position: relative; display: flex; justify-content: space-between; align-items: center; width: 100%; min-height: 24rem; padding: 0 2.5rem 0 4.3rem; }
.dash-card .item .item-title { color: var(--color-light); font-size: var(--font-sm); font-weight: var(--font-bold); letter-spacing: -.048rem; line-height: 1.35; } 
.dash-card .item .item-title .word { font-size: var(--font-title-md); }
.dash-card .item .item-title .number { font-size: 4.8rem; } 
.dash-card .item::after { content: ''; display: block; background-repeat: no-repeat; background-size: contain; } 
.dash-card > li > a:hover .item::after ,
.dash-card > li > a:focus-visible .item::after { animation: bounce 1s 1 linear; } 
.dash-card .card1 { background: linear-gradient(259deg, #3162E0 7.62%, #2946AB 98.56%); } 
.dash-card .card2 { background: linear-gradient(259deg, #3162E0 7.62%, #2946AB 98.56%); } 
.dash-card .card3 { background: linear-gradient(274deg, #13B9A0 -9.64%, #0B9CCA 101.03%); } 
.dash-card .card4 { background: linear-gradient(274deg, #13B9A0 -9.64%, #0B9CCA 101.03%); } 
.dash-card .card5 { background: linear-gradient(259deg, #7E31E0 7.62%, #4E21AF 98.56%); } 
.dash-card .card1 .item::after { width: 8.5rem; height: 11rem; margin-right: 2.3rem; background-image: url('../../image/myp/dash_item1.svg'); } 
.dash-card .card2 .item::after { width: 8.5rem; height: 8.9rem; margin-right: 2.3rem; background-image: url('../../image/myp/dash_item2.svg'); } 
.dash-card .card3 .item::after { width: 10rem; height: 10.6rem; margin-right: 2rem; background-image: url('../../image/myp/dash_item3.svg'); } 
.dash-card .card4 .item::after { width: 14rem; height: 14rem; margin-right: .5rem; background-image: url('../../image/myp/dash_item4.svg'); } 
.dash-card .card5 .item::after { width: 11.9rem; height: 10.4rem; margin-right: 1.8rem; background-image: url('../../image/myp/dash_item5.svg'); } 

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(-10%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
 
/* 서비스목록 */
.list-card { display: flex; flex-wrap: wrap; } 
.list-card > li { display: flex; flex: 0 0 32%; margin-left: var(--space-lg); } 
.list-card > li:nth-of-type(3n + 1) {margin-left: 0;}
.list-card > li:nth-of-type(n + 4) {margin-top: var(--space-lg);}
.list-card .item { position: relative; width: 100%; padding-bottom: 5.7rem; border: var(--line-sm) solid var(--color-bg-dark); border-radius: 0.8rem; transition: var(--animation-speed-fast) all var(--animation-timing-base); overflow: hidden; } 
.list-card .item .item-inner { padding: 4rem 4rem 3.2rem; transition: var(--animation-speed-fast) all var(--animation-timing-base); } 
.list-card .item .item-title { padding-bottom: 3.2rem; margin-bottom: 3.2rem; color: #000; font-size: var(--font-headline-md); font-weight: var(--font-semibold); line-height: 1.35; letter-spacing: -0.028rem; border-bottom: var(--line-sm) solid var(--color-bg-dark); } 
.list-card .item .item-title .small { margin-bottom: 0.1rem; font-size: var(--font-md); letter-spacing: 0; } 
.list-card .item .btn-group { position: absolute; width: 100%; left: 0; bottom: 0; background-color: var(--color-light); border-top: var(--line-sm) solid var(--color-bg-dark); transition: var(--animation-speed-fast) all var(--animation-timing-base);}
.list-card .item .btn-group .btn-svc {flex: 1; padding: 1.6rem; text-align: center; transition: var(--animation-speed-fast) all var(--animation-timing-base); }
.list-card .item .btn-group .btn-svc > span {color: var(--color-txt-body); line-height: 1.35; transition: var(--animation-speed-fast) all var(--animation-timing-base); }
.list-card .item .btn-group .btn-svc.filled {background-color: var(--color-bg-base); border-left: var(--line-sm) solid var(--color-bg-dark);}
.list-card .item:hover,
.list-card .item:focus-visible {background-color: var(--color-primary-bg-light); border-color: var(--color-primary); box-shadow: 0 0.4rem 1.2rem 0 rgba(85, 141, 255, 0.16); transform: translate(-1rem, -1rem); }
.list-card .item:hover .item-inner,
.list-card .item:focus-visible .item-inner,
.list-card .item:hover .btn-group,
.list-card .item:focus-visible .btn-group {border-color: var(--color-primary);}
.list-card .item:hover .btn-group .btn-svc.filled,
.list-card .item:focus-visible .btn-group .btn-svc.filled {background-color: var(--color-primary); border-color: var(--color-primary);} 
.list-card .item:hover .btn-group .btn-svc.filled > span,
.list-card .item:focus-visible .btn-group .btn-svc.filled > span {color: var(--color-light);} 
.item-dl > dt {margin-bottom: 0.8rem; line-height: 1;}
.item-dl > dd + dt {margin-top: 3.2rem;}