@charset "utf-8";

#print {
  width: 100%;
}
.print-wrap {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-light);
}
.print-head {
  position: relative;
  padding: 1.8rem 7.2rem 1.8rem 4rem;
  border-bottom: var(--line-sm) solid var(--color-bg-dark);
}
.print-title {
  line-height: 1.35;
  font-weight: var(--font-semibold);
  font-size: var(--font-title-sm);
  color: var(--color-dark);
}
.print-content {
  overflow-y: auto;
  overflow-x: hidden;
}
.print-content .section {
  padding: 2.8rem 4rem;
}
.print-content .data-list > thead > tr > th,
.print-content .data-list > tbody > tr > th,
.print-content .data-list > tbody > tr > td,
.print-content .data-list > tfoot > tr > th,
.print-content .data-list > tfoot > tr > td {
  height: 2.8rem;
  padding: .6rem 1.2rem;
  line-height: 1;
  font-size: var(--font-min);
  font-weight: var(--font-regular)
}
.print-content .data-list > tfoot > tr > th {
  background: var(--color-bg-light);
}
.print-content .data-list > tfoot > tr > td {
  text-align: center;
}

.bill {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--color-bg-dark);
  padding: 3rem 4rem 4.8rem;
  min-height: 98rem;
}
.bill-head {
  padding: 6.8rem 0 4rem;
}
.print-logo {
  content: '';
  position: absolute;
  left: 4rem;
  top: 3rem;
  display: block;
  width: 11.6rem;
}
.bill-head h3 { text-align: center; font-size: var(--font-title-lg); font-weight: var(--font-semibold); letter-spacing: -0.0024rem; line-height: 1.35; } 

.bill-content .item-col + .item-col {
  margin-top: 2rem;
}
.bill-content .list-head {
  margin-bottom: .6rem;
}
.bill-content .list-head span {
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
  color: var(--color-dark);
  line-height: 1.5;
}
.bill-content .list-foot {
  margin-top: var(--space-xs);
}
.bill-content .list-foot span,
.bill-content .list-foot p {
  font-size: var(--font-min);
  color: var(--color-dark);
}
.bill-foot {
  padding-top: 5rem;
}
.bill-foot>p {
  text-align: center;
  font-size: var(--font-sm);
  line-height: 1.5;
  color: var(--color-dark);
}
.bill-foot>.item-row {
  margin-top: 4.6rem;
  align-items: flex-end;
}
.bill-foot>.item-row .call {
  font-size: var(--font-xs);
}
.bill-foot>.item-row .call span {
  display: block;
  margin-top: .5rem;
  font-size: var(--font-min);
  color: var(--color-txt-sub);
  line-height: 1.35;
}
.bill-foot>.item-row .stamp {
  font-size: var(--font-title-md);
  font-weight: var(--font-semibold);
  color: var(--color-dark);
  line-height: 1.35;
}
.bill-foot>.item-row .stamp .unit:first-child {
  font-size: var(--font-title-lg);
}

.print-foot {
  position: relative;
  padding: 0 4rem 3.2rem;
}
.print-foot .btn-group {
  justify-content: center;
}
.print-foot .btn-group > .btn {
  min-width: 21rem;
  flex-basis: auto;
  flex-grow: 0;
}

/* 영문 */
.eng .print-logo {
  width: 23.2rem;
}
.eng .bill-foot>.item-row {
  margin-top: 0;
}
.eng .bill-foot .issue {
  font-size: 1rem;
  color: var(--color-txt-sub);
  line-height: 1.35;
}
.eng .bill-foot .issue span {
  display: block;
  color: var(--color-txt-body);
}
.eng .bill-foot .stamp {
  text-align: right;
  font-size: var(--font-md);
}
.eng .bill-foot .stamp span {
  display: block;
  font-size: var(--font-xs);
  font-weight: var(--font-medium);
}
.eng .bill-foot .claim {
  justify-content: flex-start;
  border-top: 1px solid var(--color-bg-dark);
  border-bottom: 1px solid var(--color-bg-dark);
  padding: 1rem 0;
  margin-top: 2rem;
}
.eng .bill-foot .claim li + li {
  margin-left: 4rem;
}
.eng .bill-foot .claim li span {
  font-size: 1rem;
  color: var(--color-txt-sub);
  line-height: 1.35;
}
.eng .bill-foot .claim li span.title {
  color: var(--color-dark);;
}
.eng .bill-foot .claim li span.title::after {
  content: '';
  display: inline-block;
  width: .1rem;
  height: 1rem;
  background-color: var(--color-bg-dark);
  margin: 0 .6rem;
}
.eng .bill-foot>p {
  margin-top: 1rem;
  text-align: left;
  font-size: 1rem;
  color: var(--color-txt-sub);
}

@media print {
  .print-head { display: none; }
  .print-logo { left: 0; top: 0; }
  .bill { border: none; padding: 0; }
  .print-foot { display: none; }

  table th {background-color:var(--color-bg-light) !important; -webkit-print-color-adjust:exact;}
  table tfoot td {background-color:var(--color-primary-bg-light) !important; -webkit-print-color-adjust:exact;}
}