@charset "utf-8";
/* 
	기본정보
	- 생성일 : 2023-04-01
	- 파일명 : common.popup.css
	- 포함내용 : 팝업 스타일 정의 - 모달, 바텀시트, 팝오버, 툴팁
*/

/* 팝업레이아웃 */
.popup-wrap {display: none; position: fixed; z-index: 20; justify-content: center; transform: translate3d(0, 100%, 0);}
.popup-wrap::before {content: ''; position: fixed; background-color: var(--color-dimmed); transform: translate3d(0, 100%, 0); opacity: 0;}
.popup-inner {position: relative; overflow: hidden; z-index: 21; display: flex; flex-direction: column; width: 100%; background-color: var(--color-light); opacity: 0;}
.popup-head {position: relative; margin: 0 5.6rem 0 2.0rem; padding: 2.0rem 0 1.971rem 0;}
.popup-head.is-hide {min-height: 4.4rem;}
.popup-content {overflow-y: auto; overflow-x: hidden; scroll-behavior: smooth;}
.popup-content .section:first-child {padding-top: 0;}
.popup-content .section:last-child {padding-bottom: calc(var(--space-lg) + var(--space-xs));}
.popup-content .group + .group {padding-top: var(--space-xxl);}
.popup-foot {position: relative; padding: 0 var(--space-md) var(--space-md);}
.modal-msg {color: var(--color-dark);}

/** 팝업레이아웃 - 타이틀, 닫기 버튼 */
.popup-title {line-height: 1.35; font-weight: var(--font-semibold); font-size: var(--font-title-sm); color: var(--color-dark);}
[data-main-copy="true"].popup-wrap .popup-title > span {display: none; opacity: 0;}
[data-main-copy="true"].popup-wrap .popup-title.is-active > span {display: block; animation: animation-popup-main-copy var(--animation-speed) var(--animation-timing-ease) forwards;}
@keyframes animation-popup-main-copy {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.btn-popup-close {position: absolute; overflow: hidden; z-index: 1; top: var(--space-md); right: var(--space-md); width: var(--icon-md); height: var(--icon-md); background: var(--bg-url-md) no-repeat calc(var(--icon-md) * -3) 0; background-size: var(--bg-size-md);}

.popup-head.is-hide ~ .popup-content > .section:first-child {padding-top: 0;}
.popup-head.is-hide .popup-title {display: none;}
.popup-head.is-hide .popup-title > span {overflow: hidden; position: absolute; clip: rect(0, 0, 0, 0); clip-path: polygon(0 0, 0 0, 0 0); width: 1px; height: 1px; margin: -1px;}

/* 풀 */
.popup-wrap.option-full {top: 0; bottom: 0; left: 0; right: 0; height: calc(var(--vh, 1vh) * 100); align-items: center;}
.popup-wrap.option-full::before {bottom: calc(var(--vh, 1vh) * -10); left: 0; width: 100vw; height: calc(var(--vh, 1vh) * 110); transform: translate3d(0, 0, 0);}
.popup-wrap.option-full::after {content: ''; position: absolute; left: 0; right: 0; bottom: calc(var(--vh, 1vh) * -10); height: calc(var(--vh, 1vh) * 10); background-color: var(--color-light);}
.popup-wrap.option-full .popup-inner {height: calc(var(--vh, 1vh) * 100);}

.popup-wrap.option-full .popup-head {margin: 0 5.6rem; padding: 1.5rem 0 1.471rem; text-align: center;}
.popup-wrap.option-full .popup-content {flex-basis: 100%; padding-top: 0;}
.popup-wrap.option-full .btn-popup-close {top: 1.5rem; right: var(--space-sm);}
.popup-wrap.option-full .popup-head.is-hide {min-height: 5.4rem;}
.popup-wrap.option-full .popup-foot {padding-bottom: calc(var(--space-md) + constant(safe-area-inset-bottom)); padding-bottom: calc(var(--space-md) + env(safe-area-inset-bottom));}
.popup-wrap.option-full .popup-foot .btn-group::before {content: ''; position: absolute; top: -1.2rem; left: 0; right: 0; height: 1.2rem; background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);}

/** 풀 - 오픈 시 */
.popup-wrap.option-full.is-open {animation: animation-popup-full-wrap var(--animation-speed-fast) var(--animation-timing-base) forwards;}
.popup-wrap.option-full.is-open::before {animation-duration: var(--animation-speed-fast); animation-delay: var(--animation-speed-fast);}
.popup-wrap.option-full.is-open .popup-inner {animation: animation-popup-full-inner var(--animation-speed) var(--animation-timing-base) forwards;}

/* 풀 - (태블릿+PC) */
@media screen and (min-width: 768px) {
	.popup-wrap.option-full .popup-inner {max-width: 360px; height: auto; max-height: calc(var(--vh, 1vh) * 90); border-radius: var(--radius-xl);}
	.popup-wrap.option-full.expended .popup-inner {max-width: 90%; height: calc(var(--vh, 1vh) * 90); border-radius: var(--radius-xl);}
	.popup-wrap.option-full .popup-foot {padding-bottom: var(--space-md);}
}

@keyframes animation-popup-full-wrap {
	100% {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes animation-popup-full-inner {
	100% {
		opacity: 1;
	}
}

/* 바텀시트 */
.popup-wrap.option-bottom-sheet {left: 0; bottom: 0; right: 0;}
.popup-wrap.option-bottom-sheet::before {bottom: calc(var(--vh, 1vh) * -10); left: 0; width: 100vw; height: calc(var(--vh, 1vh) * 110); transform: translate3d(0, 0, 0);}
.popup-wrap.option-bottom-sheet::after {content: ''; position: absolute; left: 0; right: 0; bottom: calc(var(--vh, 1vh) * -10); height: calc(var(--vh, 1vh) * 10); background-color: var(--color-light);}
.popup-wrap.option-bottom-sheet .popup-inner {max-height: calc(var(--vh, 1vh) * 90); max-height: calc((var(--vh, 1vh) * 90) - constant(safe-area-inset-bottom)); max-height: calc((var(--vh, 1vh) * 90) - env(safe-area-inset-bottom)); border-top-left-radius: var(--radius-xl); border-top-right-radius: var(--radius-xl);}

.popup-wrap.option-bottom-sheet .popup-head.is-hide {min-height: 5.4rem;}
.popup-wrap.option-bottom-sheet .popup-content {flex-basis: 100%;}
.popup-wrap.option-bottom-sheet .popup-foot {padding-bottom: calc(var(--space-md) + constant(safe-area-inset-bottom)); padding-bottom: calc(var(--space-md) + env(safe-area-inset-bottom));}
.popup-wrap.option-bottom-sheet .popup-foot .btn-group::before {content: ''; position: absolute; top: -1.2rem; left: 0; right: 0; height: 1.2rem; background: linear-gradient(360deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);}

/** 바텀시트 - 오픈 시 */
.popup-wrap.option-bottom-sheet.is-open {animation: animation-popup-bottom-wrap var(--animation-speed) var(--animation-timing-outback-sm) forwards;}
.popup-wrap.option-bottom-sheet.is-open::before {animation-duration: var(--animation-speed-fast); animation-delay: var(--animation-speed-fast);}
.popup-wrap.option-bottom-sheet.is-open .popup-inner {animation: animation-popup-bottom-inner var(--animation-speed-fast) var(--animation-timing-base) forwards;}

/* 바텀시트 - (태블릿+PC) */
@media screen and (min-width: 768px) {
	.popup-wrap.option-bottom-sheet .popup-inner {max-width: 360px;}
	.popup-wrap.option-bottom-sheet::after {left: 50%; right: inherit; max-width: 360px; margin-left: -180px;}
}

/** 바텀시트 - 콘텐츠접기 */
.popup-wrap.option-bottom-sheet.option-fold {will-change: auto;}
.popup-wrap.option-bottom-sheet.option-fold.is-open {will-change: max-height;}
.popup-wrap.option-bottom-sheet.option-fold .popup-inner {max-height: calc(var(--vh, 1vh) * 50); transition: max-height var(--animation-speed) var(--animation-timing-ease), opacity var(--animation-speed-fast) var(--animation-timing-base);}
.popup-wrap.option-bottom-sheet.option-fold .popup-inner.is-fill {max-height: calc(var(--vh, 1vh) * 90);}
.popup-wrap.option-bottom-sheet.option-fold .popup-head {padding-top: var(--space-lg);}
.popup-wrap.option-bottom-sheet.option-fold .btn-popup-close {top: var(--space-lg);}
.btn-popup-drag {position: absolute; z-index: 1; top: 0; left: 50%; display: inline-block; padding: 1.0rem 4.0rem 1.6rem; margin-left: -8.0rem;}
.btn-popup-drag::before {content: ''; display: block; width: 8.0rem; height: .4rem; border-radius: var(--radius-sm); background-color: var(--color-bg-base);}

/** 바텀시트 - 스와이프 닫기 */
.popup-wrap.option-bottom-sheet.option-swipe .popup-head {padding-top: var(--space-lg);}
.popup-wrap.option-bottom-sheet.option-swipe .btn-popup-close {top: var(--space-lg);}

@keyframes animation-popup-bottom-wrap {
	100% {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes animation-popup-bottom-inner {
	100% {
		opacity: 1;
	}
}

/* 모달 */
.popup-wrap.option-modal {top: 0; bottom: 0; left: 0; right: 0; align-items: center;}
.popup-wrap.option-modal::before {top: 0; bottom: 0; left: 0; right: 0; transform: translate3d(0, 0, 0);}
.popup-wrap.option-modal .popup-inner {max-height: calc(var(--vh, 1vh) * 90); max-height: calc((var(--vh, 1vh) * 90) - constant(safe-area-inset-bottom)); max-height: calc((var(--vh, 1vh) * 90) - env(safe-area-inset-bottom)); margin: 0 var(--space-md); border-radius: var(--radius-xl); box-shadow: var(--shadow-sm); transform: translate3d(0,-12%,0);}
.popup-wrap.option-modal .popup-content .section:last-child {padding-bottom: var(--space-lg);}

/** 모달 - 오픈 시 */
.popup-wrap.option-modal.is-open {transform: translate3d(0, 0, 0);}
.popup-wrap.option-modal.is-open::before {animation-duration: var(--animation-speed);}
.popup-wrap.option-modal.is-open .popup-inner {animation: animation-popup-modal-inner var(--animation-speed) var(--animation-timing-outback) forwards;}

/* 모달 - (태블릿+PC) */
@media screen and (min-width: 768px) {
	.popup-wrap.option-modal .popup-inner {max-width: 320px; margin-left: 0; margin-right: 0;}
}

@keyframes animation-popup-modal-inner {
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* 커스텀 */
.popup-wrap.option-custom {top: 0; bottom: 0; left: 0; right: 0; align-items: center;}
.popup-wrap.option-custom::before {top: 0; bottom: 0; left: 0; right: 0; transform: translate3d(0, 0, 0);}
.popup-wrap.option-custom .popup-inner {max-height: calc(var(--vh, 1vh) * 90); margin: 0 4.0rem; border-radius: var(--radius-xl); box-shadow: var(--shadow-sm); transform: translate3d(0,-12%,0);}
.popup-wrap.option-custom .popup-head {margin-right: var(--space-md); text-align: center;}
.popup-wrap.option-custom .popup-head.is-hide {min-height: 3.2rem; padding: 0;}
.popup-wrap.option-custom .popup-content .section:last-child {padding-bottom: var(--space-md);}

/** 커스텀 - 오픈 시 */
.popup-wrap.option-custom.is-open {transform: translate3d(0, 0, 0);}
.popup-wrap.option-custom.is-open::before {animation-duration: var(--animation-speed);}
.popup-wrap.option-custom.is-open .popup-inner {animation: animation-popup-custom-inner var(--animation-speed) var(--animation-timing-outback) forwards;}

.popup-wrap.option-custom .popup-content .group {word-break: break-all;}
.popup-custom-txt {text-align: center; font-size: var(--font-xs); color: var(--color-txt-sub); word-break: break-all;}
.popup-custom-txt > strong {color: var(--color-dark);}
.popup-custom-txt + .popup-custom-txt {margin-top: var(--space-xxs);}
.popup-alarm-visual {margin-bottom: var(--space-md);}

/* 커스텀 - (태블릿+PC) */
@media screen and (min-width: 768px) {
	.popup-wrap.option-custom .popup-inner {max-width: 280px; margin-left: 0; margin-right: 0;}
}

@keyframes animation-popup-custom-inner {
	50% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* 접고펼치기 */
#header.gnb-open ~ #main .btn-popup-guide-open {z-index: 10 !important;}
.btn-popup-guide-open {position: fixed; z-index: 30; left: 0; bottom: 0; width: 100%; height: 6.4rem;}
.popup-wrap.option-guide {z-index: 10; display: flex; left: 0; bottom: 0; right: 0; transform: translate3d(0, 0, 0);}
.popup-wrap.option-guide::before {bottom: 0; left: 0; width: 100vw; height: calc(var(--vh, 1vh) * 100);}
.popup-wrap.option-guide.is-open::before {transform: translate3d(0, 0, 0); animation-duration: var(--animation-speed-fast); animation-delay: var(--animation-speed-fast);}

.popup-wrap.option-guide .popup-head {padding-bottom: calc(1.971rem + constant(safe-area-inset-bottom)); padding-bottom: calc(1.971rem + env(safe-area-inset-bottom));}
.popup-wrap.option-guide.is-open .popup-head {padding-bottom: 1.971rem;}
.popup-wrap.option-guide .popup-content .section:last-child {padding-bottom: calc(2.4rem + constant(safe-area-inset-bottom)); padding-bottom: calc(2.4rem + env(safe-area-inset-bottom));}

.popup-wrap.option-guide .popup-inner {opacity: 1; border-top-left-radius: var(--radius-xl); border-top-right-radius: var(--radius-xl); box-shadow: 0 -.4rem 1.6rem 0 rgba(18, 25, 43, 0.08);}
.popup-wrap.option-guide .popup-content {overflow-y: hidden; max-height: 0; transition: max-height var(--animation-speed) var(--animation-timing-ease);}
.popup-wrap.option-guide.is-open .popup-content {max-height: calc(var(--vh, 1vh) * 80);}

.btn-popup-fold {position: absolute; overflow: hidden; z-index: 1; top: var(--space-md); right: var(--space-md); width: var(--icon-md); height: var(--icon-md); background: var(--bg-url-md) no-repeat calc(var(--icon-md) * -3) calc(var(--icon-md) * -1); background-size: var(--bg-size-md); transform: rotate(-180deg); transition: transform var(--animation-speed) var(--animation-timing-base);}
.popup-wrap.option-guide.is-open .btn-popup-fold {transform: rotate(0deg);}

/* 팝업레이아웃 - 오픈시 */
.popup-wrap.is-open {display: flex;}
.popup-wrap.is-open::before {animation-name: animation-popup-dimmed; animation-timing-function: var(--animation-timing-base); animation-fill-mode: forwards;}
@keyframes animation-popup-dimmed {
	100% {
		opacity: 1;
	}
}
/* .popup-wrap.is-open {transform: translate3d(0, 0, 0);} */
/* .popup-wrap.is-open::before {transform: translate3d(0, 0, 0); opacity: 1;} */
/* .popup-wrap.is-open .popup-inner {opacity: 1;} */

/* 팝오버 */
.helper {display: inline-flex; width: var(--icon-sm); height: var(--icon-sm); margin-top: -.2rem; vertical-align: middle;}
.helper-btn {display: block; width: 100%; height: 100%; background: var(--bg-url-sm) no-repeat calc(var(--icon-sm) * -4) 0; background-size: var(--bg-size-sm);}

.popover {position: absolute; display: none; z-index: 10; left: var(--space-md); width: calc(100% - var(--space-xxl)); padding: var(--space-xxl) var(--space-xxl) var(--space-md) var(--space-md); text-align: left; transform: translate3d(0, -12%, 0); opacity: 0; transition-duration: 0s; transition-delay: 0s;}
.popover.is-open {display: block; animation: animation-popover var(--animation-speed) var(--animation-timing-outback) forwards;}
.popover::before {content: ''; position: absolute; z-index: -1; top: var(--space-md); bottom: 0; left: 0; right: 0; background-color: var(--color-light); border: var(--line-sm) solid var(--color-disable); border-radius: var(--radius-lg); box-shadow: var(--shadow-lg);}

.popover-title {line-height: 1.35; font-size: var(--font-md); color: var(--color-dark);}
.popover-content {line-height: 1.5; font-size: var(--font-xs); color: var(--color-txt-body);}
.popover-content .text {font-weight: var(--font-regular); font-size: var(--font-xs);}
.popover-title ~ .popover-content {padding-top: var(--space-xxs);}
.btn-popover-close {position: absolute; z-index: 1; top: var(--space-xxl); right: var(--space-md); width: var(--icon-sm); height: var(--icon-sm); background: var(--bg-url-sm) no-repeat calc(var(--icon-sm) * -5) calc(var(--icon-sm) * -3); background-size: var(--bg-size-sm);}

.card-item .popover {left: 0; width: 100%;}
.card-title .popover {left: -2.4rem; width: calc(100% + 4.8rem);}
.card-select .checkbox-control ~ .label .card-title .popover {left: calc((2.4rem + 3.2rem) * -1); width: calc(100% + 4.8rem + 3.2rem);}

/* 팝오버 - (태블릿+PC) */
@media screen and (min-width: 768px) {
	#content .popover,
	.popup-wrap.option-full.expended .popover {left: auto; width: 320px;}
	.helper.option-right {justify-content: flex-end;}
}

@keyframes animation-popover {
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* 툴팁 */
.tooltip {position: relative; display: inline-flex; width: var(--icon-sm); height: var(--icon-sm); margin-top: -.2rem; vertical-align: middle;}
.tooltip-btn {display: block; width: 100%; height: 100%; background: var(--bg-url-sm) no-repeat calc(var(--icon-sm) * -3) 0; background-size: var(--bg-size-sm);}
.tooltip-btn > span {font-size: 0;}
.tooltip-body {position: absolute; display: none; z-index: 10; width: max-content; padding: var(--space-xxs) var(--space-xs); background-color: var(--color-txt-sub); border-radius: var(--radius-md); box-shadow: var(--shadow-sm); line-height: 1.35; font-weight: var(--font-regular); font-size: var(--font-min); color: var(--color-light); transform: translate3d(0, -12%, 0); opacity: 0; transition-duration: 0s; transition-delay: 0s;}
.tooltip-body::before {content: ''; position: absolute; width: .5rem; height: .8rem; background: var(--bg-url-etc) no-repeat 0 0; background-size: var(--bg-size-etc);}

.tooltip.is-open .tooltip-body {display: block; animation: animation-tooltip var(--animation-speed) var(--animation-timing-outback) forwards;}

.tooltip.bottom {align-items: end;}
.tooltip.bottom.left .tooltip-body {margin-bottom: 2.4rem; margin-left: -1.0rem; margin-right: var(--space-md);}
.tooltip.bottom.left .tooltip-body::before {bottom: -.5rem; left: 1.6rem; transform: rotate3d(0, 0, 1, 270deg);}

.tooltip.bottom.right {justify-content: flex-end;}
.tooltip.bottom.right .tooltip-body {margin-bottom: 2.4rem; margin-right: -1.0rem; margin-left: var(--space-md);}
.tooltip.bottom.right .tooltip-body::before {bottom: -.5rem; right: 1.6rem; transform: rotate3d(0, 0, 1, 270deg);}

.tooltip.top {align-items: start;}
.tooltip.top.left .tooltip-body {margin-top: 2.4rem; margin-left: -1.0rem; margin-right: var(--space-md);}
.tooltip.top.left .tooltip-body::before {top: -.5rem; left: 1.6rem; transform: rotate3d(0, 0, 1, 90deg);}

.tooltip.top.right {justify-content: flex-end;}
.tooltip.top.right .tooltip-body {margin-top: 2.4rem; margin-right: -1.0rem; margin-left: var(--space-md);}
.tooltip.top.right .tooltip-body::before {top: -.5rem; right: 1.6rem; transform: rotate3d(0, 0, 1, 90deg);}

@keyframes animation-tooltip {
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

/* 토스트 */
.toast {position: fixed; display: none; z-index: 11; bottom: 0; left: 0; width: calc(100% - (var(--space-body) * 2)); margin: 0 var(--space-body) var(--space-lg); margin-bottom: calc(var(--space-lg) + constant(safe-area-inset-bottom)); margin-bottom: calc(var(--space-lg) + env(safe-area-inset-bottom)); padding: var(--space-xs) var(--space-xl) var(--space-xs) var(--space-sm); background-color: var(--color-txt-body); border-radius: var(--radius-md); transform: translate3d(0, 100%, 0); opacity: 0;}
.toast.is-open {display: block; animation: animation-toast var(--animation-speed) var(--animation-timing-outback) forwards;}
.toast-content {line-height: 1.5; font-size: var(--font-xs); color: var(--color-light);}
.btn-toast-close {position: absolute; z-index: 1; top: 1.45rem; right: var(--space-xs); width: var(--icon-sm); height: var(--icon-sm); background: var(--bg-url-sm) no-repeat calc(var(--icon-sm) * -5) calc(var(--icon-sm) * -3); background-size: var(--bg-size-sm);}

.section.has-space .toast {margin-bottom: calc(8.8rem + 1.2rem); margin-bottom: calc(8.8rem + 1.2rem + constant(safe-area-inset-bottom)); margin-bottom: calc(8.8rem + 1.2rem + env(safe-area-inset-bottom));}

@keyframes animation-toast {
	100% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}